<header>
  <app-navbar></app-navbar>
 
 
  
</header>


  <router-outlet></router-outlet>









  



<footer class="footer">
  <div class="footer-container">
    <div class="footer-column">
        <h3>About Me</h3>
        <p>I'am a passionate developer building amazing web applications.</p>
    </div>
    <div class="footer-column">
        <h3>Quick Links</h3>
        <ul>
            <li><a routerLink="movie-list">Home</a></li>
            <li><a routerLink="terms-of-service" >Terms of service</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h3>Follow Me</h3>
        <ul class="social-icons">
            <li><a href="#"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-512.png" alt="facebook"></a></li>
            <li><a href="#"><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Twitter3_colored_svg-256.png" alt="Twitter"></a></li>
            <li><a href="#"><img src="https://cdn2.iconfinder.com/data/icons/social-icons-33/128/Instagram-256.png" alt="Instagram"></a></li>
            <li><a href="#"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-256.png" alt="LinkedIn"></a></li>
        </ul>
    </div>
</div>
<div class="footer-bottom">
    <p>&copy; 2024 Luka's Company. All Rights Reserved.</p>
</div>


  
</footer>


